*{
    margin: 0;  
}
/* This is the body background color*/
body{
     background-color: black;
}
/* This is the main container*/
.container{
          background-image:url("image/7bbb.PNG");
           background-repeat: no-repeat;
           background-origin: content-box;
           z-index: 1;
          height:500px ;
          width: 500px;
          position: relative;
          left: 50px;
          margin-left: 13%;
           margin-top: 5%;
           border: 2px solid rgb(255, 255, 255);
          box-shadow:3px 5px 8px 2px rgb(12 10 10);  


}
 
/* This is a the main body*/
 main{      position: relative;
            top: 10%;
           z-index: 0;
            text-align: center;
           border: 1px solid rgb(0, 0, 0);
           background-image:url("image/7bbb.PNG");
           background-repeat: no-repeat;
           width: 95%;
           height:900px ;
           margin-top: 7%;
            margin-left: 20%;
        }
/* This is for the body*/
        button{
            padding: 10px;
            background-color: rgb(0, 29, 75);
            color: white;
            cursor:pointer;
            margin: 8px;
            box-shadow:3px 5px 8px 2px rgb(12 10 10); 
        }
/* This is the counter*/
        #counter{
            font-size: 200px;
            margin: 20;
            padding-bottom: 4px;
            color: green;
           

        }
/* This is the h1 tag*/
        h1{
             padding-top: 54px;
             color: rgb(255, 255, 255);
             font-size: 50px;
        }
/* This is for the link*/
    main a{
        position: relative;
        top: 40px;
        font-size: 20px;
    }